.intro
  .wrapper
    %img.logo{src: '/images/logo.png'}
    .intro-title
      Как похудеть на
      %span.yellow 10кг
      за два месяца?

      .subtitle
        Бесплатный вебинар, из которого вы узнаете что нужно
        %br
        и что НЕ нужно делать для того, чтобы легко похудеть.

    .button.scroll-to-form Записаться
    .scroll-down


%section.gray
  .wrapper
    .title
      Здравствуйте!

    %p.about-me
      Меня зовут Игумнов Константин.
      Я приглашаю вас на бесплатный вебинар, посвященный первым шагам в похудении.
      Когда-то я и сам прошел этот путь.
      Я похудел на 37 килограммов, поэтому прекрасно понимаю людей, которые только начинают худеть.
      Посмотрите видео ниже и узнайте, что ожидает вас на вебинаре.

    .video-container
    .button.scroll-to-form
      Записаться на бесплатный вебинар

%section
  .wrapper
    .title
      Вам стоит приняmеть участие в вебинаре, если:

    .reasons.clearfix
      .reason.first
        .content
          Вы в течение нескольких месяцев (или даже лет!) пытаетесь бороться с лишним весом, но прогресса не видно
      .reason.second
        .content
          У вас есть пара проблемных мест (живот, бедра) и вы не знаете как от них избавится.
      .reason.third
        .content
          Вы перестали верить в волшебные способы быстро похудеть, и не знаете как быть дальше

%section.gray
  .wrapper
    .title
      Типичные заблуждения, которые
      %br
      не приведут к результату

    .mistakes.clearfix
      .mistake
        .name
          «Чем меньше я ем, тем быстрее худею»
        %p
          Отчасти это правда. Если начать морить себя голодом вы очень быстро потеряете какое-то количество подкожного жира. Однако через 5-6 дней организм насильно замедлит обмен веществ и перестанет сжигать жир.
          %br
          %br
          Вместо этого он будет избавляться от мышечной ткани, как от основного потребителя энергии.Вернувшись к своему обычному рациону, вы очень быстро вернёте вес обратно и скорее всего ещё пару килограммов сверху.


      .mistake
        .name
          «Нужно много бегать - тогда похудеешь»
        %p
          Физические упражнения, безусловно, помогают ускорить процесс расставания с лишним весом, однако 80%
          %br
          успеха - это правильное питание.
          %br
          %br
          Вы можете пробегать по пять километров в день, но при неправильной диете не будете терять вес.


      .mistake
        .name
          «Посижу недельку на фруктах и салатиках»
        %p
          Похудание - это марафон, а не заплыв на короткую дистанцию. Чтобы окончательно распрощаться с лишним весом, вы должны кардинально пересмотреть свой подход к культуре еды.
          %br
          %br
          Короткая диета позволит вам сбросить несколько килограмм, но они вернутся, если вы не решите проблему комплексно.

      .mistake
        .name
          «Не есть после шести»
        %p
          Пожалуй самое распространённое заблуждение. Во-первых, после 18:00 есть можно. И после 20:00 можно, и даже после 22:00.
          %br
          %br
          Просто нужно выбирать правильные продукты. Во-вторых, в процессе похудение важно не время приёма пищи, а общее количество калорий, которое вы потребляете за день.




%section
  .wrapper
    .title
      20% действий, которые дадут 80% результата

    .actions.clearfix
      .action
        %img{src: '/images/action_1_icon.jpg'}
        .name
          Создайте дефицит калорий
        .content
          %p
            Единственный способ запустить жиросжигание. Другого способа просто не существует.

      .action
        %img{src: '/images/action_2_icon.jpg'}
        .name
          Питайтесь
          %br
          чаще

        .content
          %p
            Частое питание позволяет постоянно чувствовать себя сытым и даже есть перед сном


      .action
        %img{src: '/images/action_3_icon.jpg'}
        .name
          Ешьте меньше
          %br
          сладкого

        .content
          %p
            От сахара люди толстеют! Сладкое нужно есть в разумных количествах


      .action
        %img{src: '/images/action_4_icon.jpg'}
        .name
          Пейте больше
          %br
          воды

        .content
          %p
            Ее нужно пить в больших количествах. Это заметно ускоряет процесс избавления от жира


%section.gray
  .wrapper
    .title
      Что вы получите на вебинаре?
      .subtitle
        Умение поддерживать сухую, стройную форму на протяжении всей жизни

    .results.clearfix
      .result.first
        .content
          .name
            Отсутствие каши в голове
          %p
            Четкое понимание того, что работает,
            а что нет. Теперь все ваши действия ведут к успеху
      .result.second
        .content
          .name
            Личную схему питания
          %p
            Вы сможете составить правильный рацион из любых продуктов при любых условиях. Отпуск, дача, застолье
      .result.third
        .content
          .name
            Простой план действий
          %p
            Больше нет вопросов «А мне это можно?». Теперь вы свободно ориентируетесь в вопросах питания

      .result.fourth
        .content
          .name
            Необходимый минимум теории
          %p
            Ровно столько, чтобы чувствовать себя уверенно в любой ситуации. Мы не станем усложнять простые вещи.


%section.dark#order-form
  .wrapper
    .title
      Вебинар пройдет
      %span.yellow 5 июля в 20:00
      .subtitle
        Оставьте свои контактные данные, и на ваш email
        %br
        придет письмо со ссылкой на вебинар.


    .form-thank-you
      .thank-you-text
        .bolder.big Спасибо!
        ссылка была выслана на указанный вами адрес

    .form
      %input{type: :text, name: 'name', placeholder: 'Ваше имя'}
      %input{type: :text, name: 'email', placeholder: 'Ваш email'}
      .button#order-button Записаться на вебинар


    .copyright
      Игумнов константин © 2014