.olo{style: 'width: 100%; padding: 40px; background: #434343; font-size: 16px; color: #fff;'}
  .olo2{style: 'line-height: 1.3'}
    %h2{style: 'font-size: 24px;'} Здравствуйте!
    %br
    Вы можете посмотреть вебинар в записи по ссылке
    %a{href: 'http://enjoybody.ru/webinar', style: 'color: #ffe328', target: '_blank'}
      www.enjoybody.ru/webinar
